
.adventureContainer {
	width: 99%;
	border: 1px solid #0e3d69;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 10px;
	-webkit-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
	-moz-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
	box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
  background-color: #fff;
  min-height: 14em;
  margin-bottom: 1em;
}

.rewardContainer {
	/* width: 99%; */
	border: 1px solid #0e3d69;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 10px;
	-webkit-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
	-moz-box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
	box-shadow: 8px 9px 5px -4px rgba(0,0,0,0.28);
	background-color: #fff;
	/* min-height: 14em; */
	margin-bottom: 1em;
	/* margin-top: 0.5em; */
}

.rewardContainer:hover {
  background-color: lightgreen;
}

.filler {
	border: 1px solid #000000;
	min-height: 3em;
	height: 100%;
}	

.white_background {
  background-color: rgba(0255, 255, 255, 0.8);
  padding: 1em;
}

p {
	margin: 0;
	font-size: 1.3em;
  line-height: 132%;
}

ol {
    margin: 0;
    font-size: 1.3em;
    line-height: 132%;
}

.white {
  color: white;
  text-shadow: 3px 3px 3px #000;
}

.footer_link_top {
 text-decoration: none;
 background-color: white;
 display: block;
 width: 50%;
 font-size: 1.3em;
 padding: .5em;
 cursor: pointer;
 color: crimson;
 border: 1px solid crimson;
 float: right;
 clear: right;
 box-shadow: inset 0 0 10px #000000;
}

.footer_link_bottom {
  text-decoration: none;
  background-color: white;
  display: block;
  width: 50%;
  font-size: 1.3em;
  padding: .5em;
  cursor: pointer;
  color: crimson;
  border: 1px solid crimson;
  margin-top: .5em;
  margin-bottom: 1em;
  float: right;
  clear: right;
  box-shadow: inset 0 0 10px #000000;
 }

 .adventure {
  background-image: url(../images/adventure.png);
  background-size: cover;
  background-position: center 11em;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}

.about_us {
  background-image: url(../images/about_us.png);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
}

.login {
  background-image: url(../images/login.png);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}

.signUp {
  background-image: url(../images/signup.png);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}

.profile {
  background-image: url(../images/profile.png);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}


.individual {
  background-image: url(../images/individual.jpg);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}


.create {
  background-image: url(../images/grid.jpg);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}

.view {
  background-image: url(../images/blueprint.png);
  background-size: cover;
  background-position: center center;  
  margin: 0em;
  padding: -1em;
  min-height: 75em;
}

p.pull_quote {
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 2.5em;
  background-color: rgba(240, 248, 255, 0.8)
}

.active {
  color: crimson !important;
  padding: 5px !important;
  border: 1px solid white !important;
  background-color: rgba(0255, 255, 255, 0.8) !important ;
  box-shadow: 4px 4px 4px #6d8380 !important
}

input, textarea {
	width: 17em;
	font-size:  1.3em;
    display: block;
    width: 100%;
    height: 2em;
    padding: 5px 10px;
    /* background: none;
    background-image: none; */
    border: 1px solid #a0b3b0;
    color: #000;
    border-radius: .1em;
    transition: border-color .25s ease, box-shadow .25s ease;
    background-color: white;
	padding-right: 3em;
	margin-bottom: .5em;
  }

  input:focus, textarea:focus {
    outline: 0;
    border-color: #0e3d69;
  }

.button {
    border: 0;
	border-radius: .2em;
	width: 10em;
	display: inline-block;
	margin-left: 0 auto;
	margin-right: 0 auto;
    padding: .5em;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #0e3d69;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
	cursor: pointer;
	text-align: center;
  }

  .button_adventure {
    border: 0;
	border-radius: .2em;
	width: 100%;
	display: inline-block;
	margin-left: 0 auto;
	margin-right: 0 auto;
    padding: .5em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #0e3d69;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
	cursor: pointer;
  text-align: center;
  box-shadow: 4px 4px 8px lightblue;
  }


  .FormError {
    font-size: 1em;
    display: block;
    background-color: crimson;
    color: white;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.dropdown {
  /* height: 1em; */
  font-size: 1em;
  /* padding: .5em; */
  width: 100%;
  margin: .5em 0;
}

.short_description {
  min-height: 6em;
}


.long_description {
  min-height: 12em;
}

img.image_small {
  width: 100%;
  float: left;
  margin-right: 2em;
  margin-top: 5;%
}

p.title {
  color: darkgoldenrod;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 3em;
  text-shadow: 2px 2px 4px darkseagreen;
  margin-bottom: .3em;
}

p.creator {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .3em;
 }

 p.description {
   line-height: 130%;
   margin-bottom: .3em;
 }

 p.rewards {
  margin-bottom: .3em;
 }

 p.goal {
  margin-bottom: .3em;
 }

 img.image_center {
  margin: auto;
  padding: 10px;
  margin-top: 2em;
  display: block;
  width: 100%;
  height: auto;
}

p.adventureSoloTitle {
  background-color: crimson;
  padding: .5em;
  margin-top: .5em;
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  border-radius: 10px;
  margin-bottom: 1em;
}

p.individual_title {
  font-size: 1.5em;
  font-weight: bold;
  /* padding: .2em; */
}

.rewards {
  margin-top: 1em;
}

.message {
  /* background-color: rgba(255,255,255, .4); */
  /* background-color: white;
  padding: .5em; */
  font-size: 1.5em;
  margin-bottom: 1em;
  /* border: 1px solid crimson; */
  /* border-radius: 5px; */
  color: white;
}

.loginForm {
  background-color: rgba(255,255,255,.6);
}

.demo {
  text-align: center;
  background-color: rgba(204, 215, 255, 1);
  line-height: 156%;
  padding: .5em;
  border: 1px solid crimson;
  border-radius: 10px;
  margin-top: 2em;
}

@media only screen and (max-width: 400px) {
  .about_us {
    background-size: cover;
    background-position: center center;
    margin: 0em;
    padding: -1em;
  }

  .login {
    background-size: cover;
    background-position: center center;
    margin: 0em;
    padding: -1em;
  }

  .signUp {
    background-size: cover;
    background-position: center center;
    margin: 0em;
    padding: -1em;
  }


  .adventure {
    background-size: cover;
    background-position: center center;
    margin: 0em;
    padding: -1em;
  }
  /* .white {
    color: #000;
  } */

  .carousel .slider-wrapper {
    display: none;
    }

  img.image_center {
    width: 100%;
  }
}

